sp1{
  color:#2CB8EB;
  font-size: 40px;
  font-family : fantasy;
}
sp2{
  color:#6495ED;
  font-size: 25px;
  font-family : sans-serif;
}
sp3{
  color:#1E90FF;
  font-size: 25px;
  font-family : sans-serif;
}
sp4{
  color:#4169E1;
  font-size: 25px;
  font-family : sans-serif;
}
sp5{
  color:#7B68EE;
  font-size: 25px;
  font-family : sans-serif;
}
sp6{
  color:#0000CD;
  font-size: 35px;
  font-family : sans-serif;
}
