ss1{
  color:#8A70E6;
  font-size: 30px;
  font-family : fantasy;
}
ss2{
  color: red;
  font-size: 30px;
  font-family : sans-serif;
}
ss3{
  color: #E68D65;
  font-size: 50px;
  font-family : sans-serif;
}
